</main><!-- /.container -->
<br><br><br><br>
<p class="text-center">&COPY; ShoppingCart</p>
<script src="//cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
<script src="/js/main.js"></script>
</body>
</html>