img.productImage{
    width:150px;
    height:160px;
}

.productAnchor{   
    display: inline-block;
}

.row-products p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-detail-image{
    width:100%;
}

ul.gallery li{
    display: inline-block;
    margin: 20px;
    list-style: none;
}
img.productImg{
    width:100px;
    height:100px;
}

table.alignmiddle td{
    vertical-align: middle;
}